In [1]:
from pyArango.connection import *

In [2]:
import pandas as pd, numpy as np, calendar as cal, datetime as dt

In [89]:
conn = Connection(username="root", password="password")

In [90]:
#db = conn.createDatabase(name="wifi4")
db = conn["NFE204"]

In [99]:
db

ArangoDB database: NFE204

In [100]:
wifiCollection = db.createCollection(name="wifiQuebec")

In [101]:
db["wifiQuebec"]

ArangoDB collection name: wifiQuebec, id: 28659360, type: document, status: loaded

In [94]:
df = pd.read_csv("DATA/wifi.csv",sep =';',header = 0)

In [95]:
df.head()

,ARROND,NO_CIV,NOM_BATI,RUE,LONGITUDE,LATITUDE
0,Sainte-Foy–Sillery–Cap-Rouge,999.0,Bibliothèque Monique-Corriveau,Avenue Roland-Beaudin,-71.297429,46.772520
1,Charlesbourg,7950.0,Bibliothèque de Charlesbourg,1ière Avenue,-71.268858,46.860799
2,Sainte-Foy–Sillery–Cap-Rouge,1445.0,Bibliothèque Charles-H.-Blais,Avenue Maguire,-71.250453,46.779477
3,Charlesbourg,750.0,Aréna Arpidrome de Charlesbourg,Rue de la Sorbonne,-71.257053,46.864423
4,Sainte-Foy–Sillery–Cap-Rouge,3020.0,Piscine Sylvie Bernier,Boulevard Hochelaga,-71.298293,46.767141

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 6 columns):
ARROND       56 non-null object
NO_CIV       55 non-null float64
NOM_BATI     58 non-null object
RUE          57 non-null object
LONGITUDE    54 non-null float64
LATITUDE     54 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.8+ KB

In [97]:
data=df.dropna()

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 57
Data columns (total 6 columns):
ARROND       50 non-null object
NO_CIV       50 non-null float64
NOM_BATI     50 non-null object
RUE          50 non-null object
LONGITUDE    50 non-null float64
LATITUDE     50 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.7+ KB

In [104]:
for item, row in data.iterrows():
    doc = wifiCollection.createDocument()
    doc['ARROND'] = row['ARROND']
    doc['NO_CIV'] = row['NO_CIV']
    doc['NOM_BATI'] =  row['NOM_BATI']
    doc['RUE'] = row['RUE']  
    doc['COORDINATES']= "[{0},{1}]".format( row['LATITUDE'], row['LONGITUDE'])
    doc['LONGITUDE'] = row['LONGITUDE']
    doc['LATITUDE'] =row['LATITUDE']  
    doc.save()