In [1]:
import pandas as pd, numpy as np, calendar as cal, datetime as dt

# Serialisation json du fichier edges

In [2]:
df = pd.read_csv("DATA/data-social-network/edges.csv",sep =',',header = None)

In [3]:
df.columns = ['FROM', 'TO']

In [4]:
df.head()

     FROM      TO
0  151838  317823
1  151838   91631
2  151838   91943
3  151838   92060
4  151838   92073

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14067887 entries, 0 to 14067886
Data columns (total 2 columns):
FROM    int64
TO      int64
dtypes: int64(2)
memory usage: 214.7 MB

In [6]:
imax=df.FROM.count()
imax

14067887

In [ ]:
#insertions des edges dans la collection edges
#{"_key":"1","_id":"edges/1","_from":"nodes/107238","_to":"nodes/367793"}
fichier = open("edgesA.json","a")
fichier.write("[")
skey  = '{"_key":"'
sid   = '","_id":"edges/'
sfrom = '","_from":"nodes/'
sto   = '","_to":"nodes/'
for item, row in df.iterrows():
    ligne =skey+str(item)+sid+str(item)+sfrom+str(row['FROM'])+  sto+str(row['TO'])+'","lien":"ami"}'
    fichier.write(ligne)
    if (item!=14067886)&(item!=7034000): 
        fichier.write(',')
        fichier.write('\n')
    if item==7034000:
        fichier.write('\n')
        fichier.write("]\n")
        fichier.close()
        fichier = open("edgesB.json","a") 
        fichier.write("[")
    if item==14067886: 
        fichier.write('\n')
fichier.write("]\n")
fichier.close()

In [ ]:
for item, row in df.iterrows():
    ligne =skey+str(item)+sid+str(item)+sfrom+str(row['FROM'])+  sto+str(row['TO'])+'"}'
    fichier.write(ligne) 
    if item<14067886: 
        fichier.write(',')
    fichier.write('\n')
fichier.write("]\n")
fichier.close()

# Serialisation du fichier nodes

In [37]:
data = pd.read_csv("DATA/data-social-network/nodes.csv",sep =',',header = None)

In [38]:
data.columns = ['NODE']

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100199 entries, 0 to 100198
Data columns (total 1 columns):
NODE    100199 non-null int64
dtypes: int64(1)
memory usage: 782.9 KB

In [43]:
df_unique_from= pd.DataFrame(df.FROM.unique())
df_unique_from.columns = ['NODE']
df_unique_from.head()

     NODE
0  151838
1  100000
2   10000
3  100001
4  100002

In [44]:
df_unique_to=pd.DataFrame( df.TO.unique())
df_unique_to.columns = ['NODE']
df_unique_to.head()

     NODE
0  317823
1   91631
2   91943
3   92060
4   92073

In [45]:
df_unique_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689497 entries, 0 to 5689496
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 43.4 MB

In [46]:
df_concat_from_to = pd.concat([df_unique_to, df_unique_from])

In [47]:
df_concat_from_to.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5826829 entries, 0 to 137331
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 88.9 MB

In [48]:
df_node_total= pd.concat([df_concat_from_to, data])

In [49]:
df_node_total.head()

     NODE
0  317823
1   91631
2   91943
3   92060
4   92073

In [50]:
df_unique_node_total=pd.DataFrame( df_node_total.NODE.unique())

In [51]:
df_unique_node_total.columns = ['NODE']

In [52]:
df_unique_node_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689498 entries, 0 to 5689497
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 43.4 MB

In [75]:
imax=df_unique_node_total.NODE.count()
imax

5689498

In [9]:
#insertions des edges dans la collection nodes
#{"_key":"1264","_id":"nodes/1264","_rev":"_1_","name":1264}
fichier = open("nodes.json","a")
fichier.write("[")
skey  = '{"_key":"'
sid   = '","_id":"nodes/'
srev = '","_rev":"_1_",'
sname   = '"name":'


for item, row in df_unique_node_total.iterrows():
    x= str(row['NODE'])
    ligne =skey+str(x)+sid+str(x)+srev+ sname+str(x)+'}'
    fichier.write(ligne)
    if item<5689497: 
        fichier.write(',')
    fichier.write('\n')
fichier.write("]\n")
fichier.close()

NameError: name 'df_unique_node_total' is not defined